<ion-header>
  <ion-navbar color="secondary">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="detailTop"> <img src="{{image}}">
    <h5>{{title}}</h5>
    <p>{{short_desc}}
    </p>
  </div>
  <div class="bulk" *ngIf="bulk_status">
    <ion-row *ngFor="let x of bulk">
      <ion-col col-6 class="bulk_image"> <span>on Pack of {{x.quantity}}</span> <img src="{{image}}"> </ion-col>
      <ion-col col-6 class="bulk_details"> <span class="price">&#8377; {{x.price}}</span> <span
          class="discount">{{x.amount}}% off <br /><del>MRP: ₹{{x.mrp}}</del></span> </ion-col>
    </ion-row>
  </div>
  <ion-card *ngIf="detail">
    <ion-card-header> Description </ion-card-header>
    <ion-card-content>
      {{detail}} </ion-card-content>
  </ion-card>
  <div class="reviews" *ngIf="rv_status"> <span class="catHead"> <span class="title">Reviews</span> <button ion-button
        clear small class="action" (click)="addReview(id);">Add Review</button> </span>
    <ion-list>
      <ion-item *ngFor="let r of rv; let i=index" text-wrap class="rvitem"> <span class="rvuser">By {{r.user_name}} on
          {{r.time}}</span> <span class="rvrating">
          <ionic3-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#EBE85E"
            defaultColor="#f4f4f4" readonly="true"  > </ionic3-star-rating>
        </span>
        <ion-card>
          <ion-card-content> <span *ngFor="let q of rv_q; let i=index"> <span class="rq"> {{q}} </span> <span
                class="ra">
                {{rv_a[i]}} </span> </span> </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
  <div class="questions" *ngIf="qa_status"> <span class="catHead"> <span class="title">Q&A</span> <button ion-button
        clear small class="action" (click)="askQuestion(id);">Ask</button> </span>
    <ion-list>
      <ion-item *ngFor="let d of qa; let i=index" text-wrap (click)="toggleGroup(i)"
        [ngClass]="{active: isGroupShown(i)}"> {{d.question}} <ion-icon color="success" item-right
          [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
        <div *ngIf="isGroupShown(i)">{{d.answer}}</div>
      </ion-item>
    </ion-list>
  </div>
  <ion-row> <span class="catHead"> <span class="title">Related Products</span> </span>
    <ion-slides class="slidesProd" slidesPerView="2.5" spaceBetween="10">
      <ion-slide *ngFor="let z of prods" class="prodItem"
        (click)="product(z.id,z.name,z.images[0].src, z.short_description, z.price)">
        <div class="image" [style.backgroundImage]="'url(' + z.images[0].src + ')'"> </div>
        <h1>{{z.name}}</h1>
        <p class="price">&#8377; {{z.price}}</p>
      </ion-slide>
    </ion-slides>
  </ion-row>
  <ion-row *ngIf="bl_status"> <span class="catHead"> <span class="title">Related Blogs</span> </span>
    <ion-slides class="slidesProd" slidesPerView="1.5">
      <ion-slide *ngFor="let b of bl" (tap)="openBlog(b.title,b.desc,b.image)">
        <ion-card> <img src="{{b.image}}">
          <ion-card-content>
            <h1>{{b.title}}</h1>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-row>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
    <ion-row class="toCart">
      <ion-col col-6> <span class="price"> &#8377; {{price}} </span> <span class="rating">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-half"></ion-icon>
        </span> </ion-col>
      <ion-col col-6> <button ion-button color="secondary" block (click)="addToCart(id);" *ngIf="stock>0">Add To
          Cart</button> <button ion-button color="danger" block *ngIf="stock == 0" (click)="oye();">Out of
          Stock</button> </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
<ion-fab right top> <button ion-fab color="light">
    <ion-icon name="more"></ion-icon>
  </button>
  <ion-fab-list side="bottom"> <button ion-fab (click)="share(id, title, image);">
      <ion-icon name="share"></ion-icon>
    </button> <button ion-fab (click)="play(youtubeId);">
      <ion-icon name="logo-youtube"></ion-icon>
    </button> <button ion-fab (click)="addToWish(id);">
      <ion-icon name="heart"></ion-icon>
    </button> </ion-fab-list>
</ion-fab>