
page-success .tick {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
    background: #5fa62a;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  page-success .tick img {
    width: 40%;
    margin: 0 auto;
  }
  
  page-success .tick .inside {
    padding: 73px 16px;
  }
  
  page-success .details {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
  }
  
  page-success .details p span {
    font-weight: bold;
  }
  
  page-success .details .card-content-md {
    padding: 93px 16px;
  }
  