
page-sub-cat .slides {
    height: 150px;
  }
  
  page-sub-cat .slidesCat {
    height: 40px;
    padding: 5px 2px;
    width: 100%;
    padding-left: 15px;
    text-align: left;
    background: #F5F5F5;
  }
  
  page-sub-cat .slidesCat .slide-zoom {
    font-size: 14px;
    text-align: left;
    color: #6E6E6E;
  }
  
  page-sub-cat .slidesCat ion-slide {
    width: auto !important;
    padding: 0 10px;
  }
  
  page-sub-cat .all {
    width: 30px !important;
    padding: 0 !important;
  }
  
  page-sub-cat .catHead {
    padding: 20px 15px;
    color: #6E6E6E;
    font-size: 1.1em !important;
    border-bottom: 1px solid #F2F2F2;
    display: block;
    width: 100%;
    position: relative;
  }
  
  page-sub-cat .catHead button {
    float: right;
    position: absolute;
    right: 15px;
    color: #60A7BF;
    font-size: 13px;
    padding: 10px 0;
    top: 15px;
    font-weight: normal;
  }
  
  page-sub-cat .catHead .title {
    font-weight: 600;
  }
  
  page-sub-cat .slidesProd {
    padding: 10px;
    background: #f4f4f4;
    min-height: 20em;
    overflow: hidden;
  }
  
  page-sub-cat .slidesProd .image {
    width: 100%;
    padding: 5px;
    margin-top: 0.6em;
  }
  
  page-sub-cat .slidesProd .prodItem {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  page-sub-cat .slidesProd .image {
    border: 0px solid #f2f2f2;
    border-radius: 5px;
    display: block;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
  }
  
  page-sub-cat .slidesProd h1 {
    font-size: 1em;
    color: #646464;
    text-align: left;
    margin-top: 10px;
  }
  
  page-sub-cat .slidesProd .price {
    font-size: 0.8em;
    font-weight: bold;
    text-align: left;
    margin-top: 0px;
    color: #66af2e;
  }
  
  page-sub-cat .button-group {
    padding: 0 !important;
  }
  
  page-sub-cat .button-group .col {
    padding: 0 !important;
  }
  
  page-sub-cat .button-group .wish .button-inner {
    color: #FA7152;
  }
  
  page-sub-cat .button-group .cart {
    float: left;
    margin-right: 30px;
  }
  
  page-sub-cat .button-group ion-icon {
    font-size: 2.8em;
  }
  
  page-sub-cat .discount {
    position: absolute;
    padding: 5px 8px;
    background: #5fa62a;
    color: #fff;
    margin-top: 8px;
    border-radius: 5px 0 5px 0;
  }
  
  page-sub-cat .stock {
    position: absolute;
    padding: 5px 8px;
    background: #f53d3d;
    color: #fff;
    margin-top: 8px;
    border-radius: 5px 0 5px 0;
  }
  page-sub-cat .not_ok {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    height: 100%;
  }
  
  page-sub-cat ion-grid {
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }