

page-detail .total {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 0;
  }
  
  page-detail .noPadd {
    border: 0 !important;
    padding-left: 0 !important;
  }
  
  page-detail .headRight {
    text-align: right !important;
  }
  
  page-detail .date {
    font-size: 18px;
    display: block;
    font-weight: 400;
    font-weight: 300;
    padding-right: 7px;
    margin: 0;
  }
  
  page-detail .gap {
    margin-bottom: 20px;
  }
  