
page-pass-forgot ion-card, page-pass-forgot .card-md {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-top: 60px;
    display: block;
    padding: 0 10%;
    text-align: center;
  }
  
  page-pass-forgot .logo {
    width: 100%;
  }
  
  page-pass-forgot .btn-wrap {
    margin:20px 0;
  }